body{
    background-color: hsl(217, 54%, 11%);
    display: grid;
    place-items: center;
    font-family: 'Outfit', sans-serif;
}
h2{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-bottom: 15px
}
hr{
    border: 1px solid  hsl(215, 51%, 70%, 0.5b);
    margin: 20px;
}
span{
    color: hsl(178, 100%, 50%);
}
.container {
    display: flex;
    padding: 2rem;
    justify-content: center;
    max-width: 350px;
    align-items: center;
    border-radius: 20px;
}
.main-card{
    display:flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    max-width: 100%;
}
.container .main-img {
    max-width: 100%; /* Make the image fit within the container's width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any inline space below the image */
    margin: 0 auto; /* Center the image horizontally within the container */
  }
.main-img {
    border-radius: 10px;  
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    justify-content: center;
    margin:auto;  
}
.desc{
    color: hsl(215, 51%, 70%);
    font-weight: 200;
    margin-top: 5px;
}
.eth{
    display: inline-block;
    max-width: 50%;
    
}
.time .price{
    display: row;
    justify-content: space-between;
}
.jules{
    border: 1px solid hsl(178, 100%, 50%);
    border-radius: 70px;
}